[Unit]
Description=Fetch All Credentials

Requires=credentials@ca.pem.service
After=credentials@ca.pem.service

Requires=credentials@node.pem.service
After=credentials@node.pem.service

Requires=credentials@node-key.pem.service
After=credentials@node-key.pem.service
