[Unit]
Description=Fetch Credentials
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/curl --fail \
                        --silent \
                        --show-error \
                        --location \
                        -o /etc/ssl/private/%i \
                        {{ url_root }}credentials/%i
