[Unit]
Description=Kubernetes Addons

[Service]
Type=oneshot
WorkingDirectory=/opt/kubernetes/addons
ExecStart=/opt/kubernetes/addons/install.sh

[Install]
WantedBy=multi-user.target
