[Unit]
Description=dnsmasq DNS service

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/rkt run \
    --insecure-options=image \
    --net=host \
    quay.io/coreos/dnsmasq \
    -- \
    --keep-in-foreground \
    --user=root \
    --log-facility=- \
    {% for n in cluster.nodes.all() -%}
    --host-record={{ n.fqdn }},{{ n.ip }} \
    {% endfor %}

[Install]
WantedBy=multi-user.target
