[Unit]
Description=dnsmasq DNS service

[Service]
Restart=always
RestartSec=10
OOMScoreAdjust=-998
ExecStart=/usr/bin/rkt run \
    --insecure-options=image \
    --net=host \
    --volume resolv,kind=host,source=/etc/resolv.conf \
    --mount volume=resolv,target=/etc/resolv.conf \
    quay.io/coreos/dnsmasq \
    -- \
    --keep-in-foreground \
    --user=root \
    --log-facility=- \
    --no-hosts \
    --server=/cluster.local/{{ cluster.k8s_dns_service_ip }} \
    {% if cluster.dnsmasq_static_records -%}
        {% for n in cluster.nodes.all() -%}
        --host-record={{ n.fqdn }},{{ n.ip }} \
        {% endfor -%}
        {% if cluster.etcd_nodes_dns_name -%}
            {% for n in cluster.nodes.filter_by(is_etcd_server=True) -%}
                --host-record={{ cluster.etcd_nodes_dns_name }},{{ n.ip }} \
            {% endfor -%}
        {% endif -%}
        {% if cluster.k8s_apiservers_dns_name -%}
            {% for n in cluster.nodes.filter_by(is_k8s_master=True) -%}
                --host-record={{ cluster.k8s_apiservers_dns_name }},{{ n.ip }} \
            {% endfor -%}
        {% endif -%}
    {% endif -%}
    \

[Install]
WantedBy=multi-user.target
