{% macro render_ca_credentials(model, column) %}
    <a href="{{ url_for('credentialsdata.cert_view', id=model.ca_credentials_id) }}">[cert]</a>
    <a href="{{ url_for('credentialsdata.cert_text_view', id=model.ca_credentials_id) }}">[text]</a>
    <a href="{{ url_for('credentialsdata.key_view', id=model.ca_credentials_id) }}">[key]</a>

    <form class="icon" method="POST" action="{{ url_for('cluster.reissue_ca_creds_view', id=model.id) }}">
        <button onclick="return confirm('Are you sure you want to reissue this credentials?');" class="btn btn-link">
            [reissue]
        </button>
    </form>

    {% set ca_credentials_error = model.ca_credentials_error %}
    {% if ca_credentials_error %}
        <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ ca_credentials_error }}" style="cursor: pointer"></span>
    {% endif %}
{% endmacro %}

{% macro render_info(model, column) %}
    <ul>
        <li>
            Download kubeconfig and activate it:<br>
            <code>$ export KUBECONFIG=/path/to/kubeconfig</code>
        </li>
        <li>
            Install k8s addons:
            <ul>
                <li><code>$ kubectl create -f {{request.url_root }}manifests/{{ model.name }}/kube-system-role-binding.yaml</code></li>
                <li><code>$ helm init</code></li>
                <li><code>$ helm install {{request.url_root }}helm/{{ model.name }}/k8s-addons.tar.gz</code></li>
            </ul>
        </li>
        {% set etcd_servers_count = model.nodes.filter_by(is_etcd_server=True).count() %}
        {% if etcd_servers_count % 2 == 0 %}
            <li class="text-danger">Even etcd servers number</li>
        {% endif %}
    </ul>
{% endmacro %}
