{% macro render_ca_credentials(model, column) %}
    <a href="{{ url_for('credentialsdata.cert_view', id=model.ca_credentials_id) }}">[cert]</a>
    <a href="{{ url_for('credentialsdata.cert_text_view', id=model.ca_credentials_id) }}">[text]</a>
    <a href="{{ url_for('credentialsdata.key_view', id=model.ca_credentials_id) }}">[key]</a>

    <form class="icon" method="POST" action="{{ url_for('cluster.reissue_ca_creds_view', id=model.id) }}">
        <button onclick="return confirm('Are you sure you want to reissue this credentials?');" class="btn btn-link">
            [reissue]
        </button>
    </form>

    {% set ca_credentials_error = model.ca_credentials_error %}
    {% if ca_credentials_error %}
        <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ ca_credentials_error }}" style="cursor: pointer"></span>
    {% endif %}
{% endmacro %}

{% macro render_info(model, column) %}
    <form class="icon" method="POST" action="{{ url_for('cluster.reset_state', id=model.id) }}">
        <button onclick="return confirm('Are you sure you want to reset cluster state?');" class="btn btn-link">
            [reset state]
        </button>
    </form>

    <div class="panel-group" id="accordion-{{ model.id }}" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion-{{ model.id }}" href="#collapse-components-{{ model.id }}" aria-expanded="true" aria-controls="collapse-components-{{ model.id }}">
              Components
            </a>
          </h4>
        </div>
        <div id="collapse-components-{{ model.id }}" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <ul>
                <li>
                    <strong>CoreOS:</strong> {{ model.coreos_channel }} {{ model.coreos_version }}
                    {% if admin_view.latest_component_versions.coreos[model.coreos_channel] and model.coreos_version != admin_view.latest_component_versions.coreos[model.coreos_channel] %}
                        <span class="glyphicon glyphicon-exclamation-sign text-warning" title="Current version is {{ admin_view.latest_component_versions.coreos[model.coreos_channel] }}" style="cursor: pointer"></span>
                    {% endif %}
                </li>
                <li>
                    <strong>etcd:</strong> {{ model.etcd_image_tag }}
                    {% if admin_view.latest_component_versions.etcd and model.etcd_image_tag != admin_view.latest_component_versions.etcd %}
                        <span class="glyphicon glyphicon-exclamation-sign text-warning" title="Current version is {{ admin_view.latest_component_versions.etcd }}" style="cursor: pointer"></span>
                    {% endif %}
                </li>
                <li>
                    <strong>hypercube:</strong> {{ model.k8s_hyperkube_tag }}
                    {% if admin_view.latest_component_versions.hyperkube and model.k8s_hyperkube_tag != admin_view.latest_component_versions.hyperkube %}
                        <span class="glyphicon glyphicon-exclamation-sign text-warning" title="Current version is {{ admin_view.latest_component_versions.hyperkube }}" style="cursor: pointer"></span>
                    {% endif %}
                </li>
                <li>
                    <strong>etcd servers:</strong>
                    <ul>
                        {% set etcd_servers_count = model.nodes.filter_by(is_etcd_server=True).count() %}
                        {% if etcd_servers_count and etcd_servers_count % 2 == 0 %}
                            <li class="text-danger">Even etcd servers number!</li>
                        {% endif %}
                        {% for node in model.nodes.filter_by(is_etcd_server=True) %}
                            <li>{{ node.fqdn }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <strong>Kubernetes master nodes:</strong>
                    <ul>
                        {% for node in model.nodes.filter_by(is_k8s_master=True) %}
                            <li>{{ node.fqdn }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <strong>Kubernetes schedulable nodes:</strong>
                    <ul>
                        {% for node in model.nodes.filter_by(is_k8s_schedulable=True) %}
                            <li>{{ node.fqdn }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-{{ model.id }}" href="#collapse-addons-{{ model.id }}" aria-expanded="false" aria-controls="collapse-addons-{{ model.id }}">
              Kubernetes addons
            </a>
          </h4>
        </div>
        <div id="collapse-addons-{{ model.id }}" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <ol>
                <li>
                    Download kubeconfig and activate it:<br>
                    <code>$ export KUBECONFIG=/path/to/kubeconfig</code>
                </li>
                <li>
                    Init helm:<br>
                    <code>$ helm init</code>
                </li>
                <li>
                    Install any addons:<br>
                    <code>$ helm install -n RELEASE_NAME CHART_URL</code>.<br>
                    Where RELEASE_NAME is any name you like, and CHART_URL is one of the following:
                    <ul>
                        {% for addon_name, addon_versions in admin_view.k8s_addons_dict.items() %}
                            <li>
                                <strong>{{ addon_name }}</strong>
                                {% for addon_version in addon_versions.keys() %}
                                <a href="/addons/{{ model.name }}/{{ addon_name }}-{{ addon_version }}.tar.gz">{{ addon_version }}</a>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}
