{% macro render_credentials(model, column) %}
    <a href="{{ url_for('credentialsdata.cert_view', id=model.credentials_id) }}">[cert]</a>
    <a href="{{ url_for('credentialsdata.cert_text_view', id=model.credentials_id) }}">[text]</a>
    <a href="{{ url_for('credentialsdata.key_view', id=model.credentials_id) }}">[key]</a>

    <form class="icon" method="POST" action="{{ url_for('node.reissue_creds_view', id=model.id) }}">
        <button onclick="return confirm('Are you sure you want to reissue this credentials?');" class="btn btn-link">
            [reissue]
        </button>
    </form>

    {% set credentials_error=model.credentials_error %}
    {% if credentials_error %}
        <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ credentials_error }}" style="cursor: pointer"></span>
    {% else %}
        {% set credentials_warning=model.credentials_warning %}
        {% if credentials_warning %}
            <span class="glyphicon glyphicon-exclamation-sign text-warning" title="{{ credentials_warning }}" style="cursor: pointer"></span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_config(model, column) %}
    {% if model.is_config_match %}
        <span class="fa fa-check-circle glyphicon glyphicon-ok-circle icon-ok-circle" title="Active config matches target config"></span>
    {% else %}
        <span class="fa fa-x-circle glyphicon glyphicon-remove-circle icon-ok-circle" title="Active config doesn't match target config"></span>
    {% endif %}

    <a href="{{ url_for('node.target_ignition_config_view', id=model.id) }}">[target ignition]</a>
    <a href="{{ url_for('node.target_ipxe_config_view', id=model.id) }}">[target ipxe]</a>

    {% if model.active_config %}
        <a href="{{ url_for('provision.details_view', id=model.active_config.id) }}">[active]</a>
    {% endif %}

    <a href="{{ url_for('provision.index_view', node_id=model.id) }}">[history]</a>

    {% set disks_error=model.disks_error %}
    {% if disks_error %}
        <span class="glyphicon glyphicon-exclamation-sign text-danger" title="{{ disks_error }}" style="cursor: pointer"></span>
    {% else %}
        {% set disks_warning=model.disks_warning %}
        {% if disks_warning %}
            <span class="glyphicon glyphicon-exclamation-sign text-warning" title="{{ disks_warning }}" style="cursor: pointer"></span>
        {% endif %}
    {% endif %}
{% endmacro %}
