---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
    release: {{ .Release.Name }}
spec:
  ports:
  - port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: postgres
    release: {{ .Release.Name }}
