[Unit]
Description=Provision Report
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/curl --fail \
                        --silent \
                        --show-error \
                        --location \
                        -H 'Content-Type: application/json' \
                        -X POST \
                        --data-binary @/run/ignition.json \
                        '{{ url_root }}report?version={{ node.target_config_version }}'

[Install]
WantedBy=multi-user.target
