[Unit]
Description=Kubelet via Hyperkube ACI
Wants=flanneld.service

[Service]
Environment=KUBELET_VERSION={{ cluster.k8s_hyperkube_tag }}
Environment="RKT_OPTS=--uuid-file-save=/var/run/kubelet-pod.uuid \
  --volume dns,kind=host,source=/etc/resolv.conf \
  --mount volume=dns,target=/etc/resolv.conf \
  --volume ssl-cluster-credentials,kind=host,source={{ config.cluster_credentials_path }},readOnly=true \
  --mount volume=ssl-cluster-credentials,target={{ config.cluster_credentials_path }} \
  {% if cluster.k8s_runtime_name == 'rkt' -%}
  --volume rkt,kind=host,source=/opt/bin/host-rkt \
  --mount volume=rkt,target=/usr/bin/rkt \
  --volume var-lib-rkt,kind=host,source=/var/lib/rkt \
  --mount volume=var-lib-rkt,target=/var/lib/rkt \
  --volume stage,kind=host,source=/tmp \
  --mount volume=stage,target=/tmp \
  {% endif -%}
  {% if cluster.manage_etc_hosts -%}
  --volume etc-hosts,kind=host,source=/etc/hosts,readOnly=true \
  --mount volume=etc-hosts,target=/etc/hosts \
  {% endif -%}
  --volume var-log,kind=host,source=/var/log \
  --mount volume=var-log,target=/var/log"

ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=/usr/bin/systemctl is-active flanneld.service
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid

ExecStart=/usr/lib/coreos/kubelet-wrapper \
  {% if node.is_k8s_schedulable -%}
  --register-schedulable=true \
  {% else %}
  --register-schedulable=false \
  {% endif -%}
  --api-servers={{ cluster.k8s_apiserver_endpoints|join(',') }} \
  --cni-conf-dir={{ config.k8s_cni_conf_path }} \
  --network-plugin=cni \
  --container-runtime={{ cluster.k8s_runtime_name }} \
  --rkt-path=/usr/bin/rkt \
  --rkt-stage1-image=coreos.com/rkt/stage1-coreos \
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ node.fqdn }} \
  --cluster_dns={{ cluster.k8s_dns_service_ip }} \
  --cluster_domain={{ config.k8s_cluster_domain }} \
  --kubeconfig={{ config.kubeconfig_path }}

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
